mixin about()
  section.about#about.about-section.contacts
    //- вставлять блоки во внешний контейнер неверно
    //- все блоки содержат в себе container без доп класса tutorial__wrapper
    .container
      h2.title-h2.about__title О нас
      p.about__subtitle
        strong Мастерская «Автоковрик» —
        | производственное ателье с собственным изготовлением автомобильных аксессуаров. Мы специализируемся на изготовлении:
      ul.about__list
        li.about__item ковриков в салон автомобиля
        li.about__item сумок-органайзеров в багажник
        li.about__item утеплителей для двигателя
        li.about__item меховых накидок на сиденья
      p.about__text 🔧 Производство оснащено современным промышленным оборудованием, что позволяет нам поддерживать высокое качество продукции при доступной цене.
      p.about__text 📍 Работаем в Тюмени с 2013 года. За это время мы получили множество положительных отзывов, ценных рекомендаций и пожеланий, которые учитываем в своей работе. Мы не стоим на месте: постоянно улучшаем материалы, технологии и расширяем ассортимент, сохраняя при этом индивидуальный подход и гибкость в выборе для каждого клиента.
      p.about__text 📦 Благодаря собственному производству, большинство заказов мы изготавливаем в течение одного рабочего дня.
      p.about__text 📞 Мы всегда готовы ответить на ваши вопросы:
      ul.contacts__list.about__contact-list
        li.contacts__item.about__contact-item
          p.about__contact-label Позвонить:
          a.contacts__link.link(href="tel:+73452971979") +7 (3452) 971-979 Тюмень
        li.contacts__item.about__contact-item
          p.about__contact-label Написать:
          a.contacts__link.link(href="tel:+79094971979") +7 (9044) 971-979 Регионы
        li.contacts__item.about__contact-item
          p.about__contact-label Приехать:
          a.contacts__link.link(href="mailto:100kovrov@gmail.com") 100kovrov@gmail.com
      p.about__text Добро пожаловать в «Мастерскую Автоковрик»! Мы ценим ваше доверие и работаем, чтобы вы были довольны каждым заказом.
