@keyframes activateMarker {
  0% {
    opacity: 1;
    transform: scale(0.1);
  }

  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}

.marker {
  transform: translate(-3px, -28px);

  &__pin {
    width: 66px;
    height: 101px;
    position: absolute;
    margin: -4em 0 0 -2em;
    padding: 0 3px 3px 0;
    cursor: pointer;
    border: none;
    background-color: transparent;
  }

  &__beacon {
    position: absolute;
    z-index: -1;
    width: 3em;
    transform: translateX(-50%);
  }

  &__animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 3em;
    height: 3em;
    content: "";
    border-radius: 50%;
    box-shadow: 0 0 0 3px $color-summer-sky;
    transform: scale(0.1);
    animation: activateMarker 2s infinite linear;
  }

  &__animation-delay {
    animation-delay: 1s;
  }
}

.popup {
  position: absolute;
  width: 210px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
  border-radius: 20px;
  background: $color-default-white;
  transform: translate(-40%, -150%);
  box-shadow: 0 6px 18px -5px $color-summer-sky;
  margin: 0;
  padding: 20px 10px;

  @include vp-767 {
    width: 350px;
    transform: translate(-40%, -170%);
  }

  h3 {
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
  }

  p {
    position: relative;
    margin: 0;
    margin-bottom: 10px;
    text-align: center;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__close {
    position: absolute;
    top: -15px;
    right: -25px;
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    transition: opacity $trans-default;

    &:hover,
    &:focus {
      opacity: 0.9;
    }

    &:active {
      opacity: 0.7;
    }
  }
}
